.menu-icon.open ~ .navbar {
  transform: translateX(0);

  .navbar__item {
    transform: translateX(0);

    &:nth-child(1) {
      transition: transform 0.3s 0.4s ease-in-out;
    }
    &:nth-child(2) {
      transition: transform 0.3s 0.5s ease-in-out;
    }
    &:nth-child(3) {
      transition: transform 0.3s 0.6s ease-in-out;
    }
    &:nth-child(4) {
      transition: transform 0.3s 0.7s ease-in-out;
    }
  }
  .navbar__link {
    color: #fff;
  }
}

.menu-icon.open {
  .menu-icon__line {
    background-color: #fff;
    animation: openMid 0.8s forwards;

    &::before {
      background-color: #fff;
      animation: openTop 0.8s forwards;
    }
    &::after {
      background-color: #fff;
      animation: openBtm 0.8s forwards;
    }
  }
}
