$font-play: "Playfair Display", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-desc: "Open sans";

$color-purple-light: #69157a;
$color-purple-line: #c8a2d1;
$color-purple-dark: #500e5e;
$color-purple-darker: #110314;
$color-grey-lighter: #9c9c9c;
$color-grey-light: #323232;
