.booking {
  background: linear-gradient(
    to right,
    $color-purple-light 90%,
    $color-purple-darker 98%
  );

  position: absolute;
  bottom: -4rem;
  border-radius: 6px;
  box-shadow: $mid-shadow;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    width: 100%;
    background: $color-purple-light;
  }

  @include respond(phone) {
    bottom: -15rem;
    padding-top: 3rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__panel {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 1rem;
    height: 100%;

    @include respond(tab-land) {
      margin: 0 0 0 2rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__input {
    input {
      outline: none;
      border: none;
      color: #fff;
      margin: 0 1rem;
      padding: 1rem 0;
      border-radius: 3px;
      background-color: $color-purple-light;

      &.text {
        &::-webkit-input-placeholder {
          color: $color-purple-line;
          font-weight: 600;
        }
        ::-moz-placeholder {
          color: $color-purple-line;
          font-weight: 600;
        }
        :-ms-input-placeholder {
          color: $color-purple-line;
          font-weight: 600;
        }
        :-moz-placeholder {
          color: $color-purple-line;
          font-weight: 600;
        }
      }

      @include respond(phone) {
        text-align: center;
        border-bottom: 1px solid $color-purple-line;
      }
    }

    &-date {
      display: flex;
      align-items: center;

      .icon {
        height: 2rem;
        margin-bottom: 0.5rem;

        @include respond(phone) {
          display: none;
        }
      }
    }
  }

  &__btn {
    width: 8rem;
    align-self: stretch;
    padding: 4rem 0;
    background: $color-purple-light;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    // border: 2px solid olive;

    .arrow {
      width: 1.2rem;

      @include respond(phone) {
        transform: rotate(-90deg) translateY(50%);
      }
    }

    @include respond(phone) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
