.menu-btn {
  display: none;
}

.menu-icon {
  display: block;
  z-index: 30;

  &__line {
    position: absolute;
    z-index: 20;
    width: 3rem;
    height: 3px;
    top: 3rem;
    right: 3rem;
    border-radius: 3px;
    background-color: $color-purple-dark;
    transition: background-color 0.4s 0.4s;
    display: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $color-purple-dark;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      transition: background-color 0.4s 0.4s;
    }

    &::before {
      transform: translateY(-8px);
    }
    &::after {
      transform: translateY(8px);
    }

    @include respond(phone) {
      display: block;

      background-color: $color-purple-light;
      animation: closeMid 0.8s;
      animation-direction: reverse;

      &::before {
        background-color: $color-purple-light;
        animation: closeTop 0.8s;
        animation-direction: reverse;
      }
      &::after {
        background-color: $color-purple-light;
        animation: closeBtm 0.8s;
        animation-direction: reverse;
      }
    }
  }
}
