.logo-box {
  height: 100%;
  display: flex;
  align-items: center;

  .logo {
    margin-left: 2rem;
    font-size: 6rem;
    color: $color-purple-light;
  }

  @include respond(tab-port) {
    padding: 2rem;
  }
}
