.search {
  height: 100%;
  display: flex;
  align-items: center;

  @include respond(phone) {
    margin-right: 10rem;
  }

  &__input {
    padding: 0.5rem;
    border: 2px solid #d0d3d4;
    border-radius: 3px;
  }
}
