.search {
  height: 100%;
  display: flex;
  align-items: center;

  &__input {
    padding: 1.5rem;
    border: none;
    border-bottom: 2px solid #d0d3d4;
    border-radius: 3px;
    width: 100%;
    border-radius: 3px;
    transition: border-bottom 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 1px solid $color-purple-dark;
    }
  }

  @include respond(tab-port) {
    width: 100%;
  }
}
