*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
}

body {
  font-family: $font-roboto;
}

.main-wrapper {
  margin: 0 auto;
  height: 100vh;
  background: url("../img/");
  // border: 4px solid green;
}
