.section-container {
  width: 100%;
  max-width: 120rem;
  min-height: 100vh;
  padding-top: 12rem;
  // padding-bottom: 6rem;
  margin: 0 auto;

  @include respond(tab-port) {
    padding: 12rem 3rem;
  }

  @include respond(phone) {
    padding-bottom: 2rem;
    padding-top: 10rem;
  }
}

.main-wrapper {
  margin: 0 auto;
  height: 100vh;
  background: url('../img/');
}
