.hero__title {
  font-size: 8rem;
  margin-left: 8rem;
  font-family: $font-play;
  color: #fff;
}

.section-title {
  font-size: 6rem;
  font-weight: 400;
  font-family: $font-play;
  color: $color-grey-light;
  text-align: center;

  &__light {
    color: $color-grey-lighter;
  }
}

.section-desc {
  font-size: 2.4rem;
  font-weight: 300;
  color: $color-grey-light;
  font-family: $font-desc;
  padding: 6rem;
  text-align: center;
  line-height: 1.6;

  @include respond(tab-port) {
    padding: 3rem;
  }

  @include respond(phone) {
    padding: 1rem;
  }
}

.display__title {
  width: 100%;
  padding: 2rem;
  text-transform: uppercase;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 1.2rem;
  color: $color-grey-light;
  text-align: center;
}
