.navbar {
  height: 100%;
  margin-right: auto;

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin: 0 3rem;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      color: #333;
    }
  }
}
