.navbar {
  height: 100%;
  margin-right: auto;
  margin-left: 3rem;

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin: 0 3rem;
    list-style: none;
  }

  &__link {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-purple-light;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -1.5rem;
      height: 8px;
      width: 0;
      background: $color-purple-dark;
      z-index: 100;
      transition: width 0.2s cubic-bezier(0.32, 0.24, 0.44, 1.64);
    }

    &:hover::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -1.5rem;
      height: 8px;
      width: 100%;
      background: $color-purple-dark;
      z-index: 100;
    }
  }

  @include respond(tab-port) {
    margin: 0;
    padding: 3rem;
    width: 100%;
  }

  @include respond(phone) {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: $color-purple-light;
    transform: translateX(100%);
    transition: transform 0.4s 0.3s cubic-bezier(0.3, 1.02, 0.7, 0.96);
    padding: 0;

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 20rem;
    }

    &__item {
      transform: translateX(150%);
      width: 100%;
      height: 100%;

      &:nth-child(1) {
        transition: transform 0.4s 0s cubic-bezier(0.06, 0.91, 0.76, 1.03);
      }
      &:nth-child(2) {
        transition: transform 0.4s 0.1s cubic-bezier(0.06, 0.91, 0.76, 1.03);
      }
      &:nth-child(3) {
        transition: transform 0.4s 0.2s cubic-bezier(0.06, 0.91, 0.76, 1.03);
      }
      &:nth-child(4) {
        transition: transform 0.4s 0.3s cubic-bezier(0.06, 0.91, 0.76, 1.03);
      }
    }

    &__link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 4rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba($color-purple-line, 0.3);

        &::before {
          display: none;
        }
      }
    }
  }
}

.move {
  background-color: #fff;
  &::before,
  &::after {
    background-color: #fff;
  }
}
